# Files that are going to be encrypted
nginx.conf filter=git-crypt diff=git-crypt
supervisor.conf filter=git-crypt diff=git-crypt
# Making sure that .gitattributes is never encrypted. DON'T TOUCH THAT LINE AND ONE BELOW
.gitattributes !filter !diff
